.App {
  font-family: sans-serif;
  min-height: 150vh;
}

.target {
  transition: ease-in-out 1500ms;
  padding: 1rem 0.5rem;
  font-size: 2rem;
  transition-property: color;
}

.target--small {
  color: blue;
  font-size: 2rem;
  position: relative;
}

.target--large {
  color: black;
}

